NODE_ENV=production

# Must be a storng key
COOKIE_SECRET=

# How many files allowed per post request
MAX_FILES=1

# Defaults to "dumpster if not specified"
MONGODB_DB_NAME="dumpster"

# Defaults to "mongodb://localhost:27017" if not specified
MONGODB_ADDRESS="mongodb://localhost:27017"

# How long a session should last before expiring in seconds
SESSION_TTL=604800

# These should be in megabytes
MAX_FILE_SIZE=25
MAX_PASTE_SIZE=1

# Ports to start the server, defaults to 80 and 443 if no ports are specified
HTTP=80
HTTPS=443