# Every request adds 1 point to the type of request
# 1 point represents 1 request for that IP address
# Duration is how long before the rate limit points should reset.
# Durations should be in minutes in this config file
# https://github.com/animir/node-rate-limiter-flexible

# 5 uploads every 2 minutes
RATELIMIT_UPLOAD_POINTS=5
RATELIMIT_UPLOAD_DURATION=2

# 25 downloads per minute
RATELIMIT_DOWNLOAD_POINTS=25
RATELIMIT_DOWNLOAD_DURATION=1

# 25 requests per minute
RATELIMIT_BASIC_POINTS=25
RATELIMIT_BASIC_DURATION=1

# Ports to run the API on
HTTP=80
HTTPS=443